<div class="main-page">
  <div class="main-text">
    {{ 'MAIN_TEXT_1' | translate}}
    <span>
      {{ 'MAIN_TEXT_2' | translate}}
    </span>
    <br>
    {{ 'MAIN_TEXT_3' | translate}}
    <br>
    <span>
      {{ 'MAIN_TEXT_4' | translate}}
    </span>
  </div>
  <div class="title">
    {{'PROFILE' | translate}}
  </div>
  <div class="info-button">
    <div *ngFor="let tab of tabs"
         class="tab">
      <img [src]="tab.iconPatch"
           class="image">
      <div class="title">
        {{'INFORMATION_TAB.' + tab.title + '.TITLE' | translate}}
      </div>
      <div class="text">
        {{'INFORMATION_TAB.' + tab.title + '.TEXT' | translate}}
      </div>
    </div>
  </div>

  <div class="news">
    <div class="title">
      {{'NEWS' | translate}}
    </div>
    <div class="info">
      <div class="description">
        {{'LATEST_NEWS' | translate}}
      </div>
      <app-pagination *ngIf="totalPages > 1"
                      [current]="current"
                      [total]="totalPages"
                      [nav]="true"
                      (next)="next($event)"
                      (previous)="previous($event)"
                      (goTo)="goTo($event)">
      </app-pagination>
    </div>
    <app-news [newsPreview]="getNewsForPage(current)"
              [page]="'main'">
    </app-news>
  </div>
</div>
