<div class="main-page">
  <div class="main-text">
    Стараемся рассказать и показать
    <span>
      современные IT-технологии
    </span>
    <br>
    Привлечь в увлекательный
    <span>
      мир IT
    </span>
    , как можно больше будущих
    <br>
    специалистов и профессионалов
  </div>
  <div class="title">
    Наш профиль
  </div>
  <div class="info-button">
    <div *ngFor="let tab of tabs"
         class="tab">
      <img [src]="tab.iconPatch"
           class="image">
      <div class="title">
        {{ tab.title }}
      </div>
      <div class="text">
        {{ tab.text }}
      </div>
    </div>
  </div>

  <div class="news">
    <div class="title">
      Новости
    </div>
    <div class="info">
      <div class="description">
        Актуальные новости за последние 2 недели
      </div>
      <div class="pagination">
      </div>
    </div>
    <app-news [page]="'main'">
    </app-news>
  </div>
</div>
