<div class="container">
  <div class="route">
  <span [routerLink]="mainPage"
        class="main">
    {{ mainPage === '/news' ? 'Новости' : 'Главная' }}
  </span>
    <span class="separator">
    >
  </span>
    <span class="name">
    Регистрация
  </span>
  </div>
  <div class="title">
    Регистрация
  </div>
  <img src="./assets/icons/b4ee94aa20bd9af0dafd3b4d62332c08.jpeg"
       class="image">
  <div class="button">
    Регистрация
  </div>
  <div class="description">
    Lorem ipsum dolor sit amet consectetur. Elit enim tristique dolor ullamcorper
    ut cras netus. Pellentesque purus fusce arcu lacus aenean elementum mattis.
    Praesent dui egestas sed ornare pharetra proin tortor sed. Leo dignissim id vel aliquam.
    Lorem ipsum dolor sit amet consectetur. Elit enim tristique dolor ullamcorper
    ut cras netus. Pellentesque purus fusce arcu lacus aenean elementum mattis.
    <br>
    Praesent dui egestas sed ornare pharetra proin tortor sed. Leo dignissim id vel aliquam.
    Lorem ipsum dolor sit amet consectetur. Elit enim tristique dolor ullamcorper
    ut cras netus. Pellentesque purus fusce arcu lacus aenean elementum mattis.
    Praesent dui egestas sed ornare pharetra proin tortor sed. Leo dignissim id vel aliquam.
    Lorem ipsum dolor sit amet consectetur. Elit enim tristique dolor ullamcorper
    ut cras netus. Pellentesque purus fusce arcu lacus aenean elementum mattis.
    <br>
    Praesent dui egestas sed ornare pharetra proin tortor sed. Leo dignissim id vel aliquam.
  </div>
</div>
