<div class="container">
  <div class="route">
  <span [routerLink]="mainPage"
        class="main">
    {{ (mainPage === '/news' ? 'NEWS' : 'HOME') | translate }}
  </span>
    <span class="separator">
    >
  </span>
    <span class="name">
    {{'NEWS' | translate}}
  </span>
  </div>
  <div class="title">
    {{'NEWS' | translate}}
  </div>
  <img [src]="newsDetail?.imageUrl ?? './assets/icons/logo.svg'"
       class="image">
  <div class="buttons">
    <div *ngFor="let button of newsDetail?.fileUrls">
      <a [href]="button?.url"
         target="_blank">
        <div class="button">
          {{ button?.title }}
        </div>
      </a>
    </div>
  </div>
  <div class="description">
    {{ newsDetail?.text }}
  </div>
</div>
