.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px 64px 16px;

  @media screen and (max-width: 650px) and (min-width: 511px){
    padding-bottom: 48px;
  }

  @media screen and (max-width: 510px){
    padding-bottom: 32px;
  }
  .image {
    @media screen and (max-width: 650px) and (min-width: 511px){
      width: 96px;
    }

    @media screen and (max-width: 510px){
      width: 64px;
    }
  }

  .social-network,
  .menu-action {
    display: flex;
    flex-direction: row;

    .link {
      padding-left: 8px;

      .image {
        @media screen and (max-width: 650px) and (min-width: 511px){
          width: 18px;
        }

        @media screen and (max-width: 510px){
          width: 12px;
        }
      }
    }
    .button {
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      align-items: center;
      color: #afafaf;
      padding: 8px;

      @media screen and (max-width: 650px) and (min-width: 511px){
        font-size: 12px;
        line-height: 18px;
      }

      @media screen and (max-width: 510px){
        font-size: 8px;
        line-height: 12px;
        padding: 4px;
      }

      &:hover,
      &.active {
        color: #1A1A1A;
      }
    }

    // styles.scss

    .language-switcher {
      display: inline-block;
      font-family: 'Arial', sans-serif;
    }

    .select-wrapper {
      display: flex;
    }

    .select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      margin-left: 8px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      align-items: center;
      color: #afafaf;

      @media screen and (max-width: 650px) and (min-width: 511px){
        font-size: 12px;
        line-height: 18px;
      }

      @media screen and (max-width: 510px){
        font-size: 8px;
        line-height: 12px;
      }

      &:focus {
        outline: none;
        border: 1px solid #007bff;
      }
    }

    .option {
      font-size: 14px;
    }
  }
}
