<div class="news-page">
  <div class="title">
    {{'NEWS' | translate}}
  </div>
  <div class="info">
    <div class="description">
      {{'LATEST_NEWS' | translate}}
    </div>
    <app-pagination *ngIf="totalPages > 1"
                    [current]="current"
                    [total]="totalPages"
                    [nav]="true"
                    (next)="next($event)"
                    (previous)="previous($event)"
                    (goTo)="goTo($event)">
    </app-pagination>
  </div>
  <app-news [newsPreview]="getNewsForPage(current)"
            [page]="'main'">
  </app-news>
  <app-pagination *ngIf="totalPages > 1"
                  [current]="current"
                  [total]="totalPages"
                  [nav]="true"
                  (next)="next($event)"
                  (previous)="previous($event)"
                  (goTo)="goTo($event)">
  </app-pagination>
</div>
