<div class="olympiad">
  <div class="container">
    <div class="main-text">
      <div class="title">
        Олимпиада основы сетевых технологий
        им. Аверина В.Г.
      </div>
      <div class="description">
        Ежегодное соревнование, которое проверяет знания и навыки участников в области
        сетевых технологий. Олимпиада организована командой AU_TEAM и открыта для студентов
        различных учебных заведений.
      </div>
    </div>
    <img src="./assets/icons/averin.jpeg"
         class="image">
  </div>
  <div class="stage">
    До старта
    <span>
      1 этапа
    </span>
    осталось
  </div>
  <div class="time">
    12 дней 03 часов 01 минут
  </div>
</div>
