<div class="news">
  <div *ngFor="let news of newsPreview">
    <div class="container">
      <div class="info">
        <div class="description">
          {{ news.shortText ? news.shortText + '...' : ''}}
        </div>
        <div [routerLink]="[ page === 'news' ? '/news' : '/main', news.id]"
             class="button"
             (click)="routesPage(news)">
          {{'LEARN_MORE' | translate}}
        </div>
      </div>
      <img [src]="news.imageUrl ?? './assets/icons/logo.svg'"
           class="image">
    </div>
    <div class="line">
    </div>
  </div>
</div>
