body {
  width: 100%;
  height: 99%;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class],
html,
body {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd,
html {
  margin: 0;
}

html,
body,
app-root {
  width: 100%;
  height: 100%;
  font-family: Inter, sans-serif;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: 0 0 0 1px transparent;
    background-color: rgba(191, 191, 191, .7);
  }
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
  overflow: hidden scroll;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

