$base: #FAFAFA;
$main-blue: #2979FF;
$dark-blue: #005FFF;
$red: #F01010;
$green: #43A047;
$yellow: #FCA549;
$hover-blue: #5C99FF;
$main-black: #1D242B;
$light-blue: #EBF2FF;
$table-hover: #F5F5FB;
$gray-1: #D9D9D9;
$gray-2: #B4B4BB;
$gray-3: #787885;
$gray-4: #F3F3F3;
